<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/about-me.css" />
</head>

<body>
  <section id="#about_me">
    <div class="cont-about-me">
      <h2 class="title">ABOUT <span class="title-span">ME</span></h2>
      <div class="cont-img-bio">
        <picture>
          <source srcset="
                ../img/about-me/about-me_1x_desk.jpg 1x,
                ../img/about-me/about-me_2x_desk.jpg 2x
              " media="(min-width: 1280px)" />
          <source srcset="
                ../img/about-me/about_me_1x_tab.jpg 1x,
                ../img/about-me/about_me_2x_tab.jpg 2x
              " media="(min-width: 768px)" />
          <source srcset="
                ../img/about-me/about_me_1x.jpg 1x,
                ../img/about-me/about_me_2x.jpg 2x
              " media="(max-width: 767px)" />
          <img class="img-about-me" src="../img/about-me/about_me_1x.jpg" alt="About me" width="320" height="374" />
        </picture>

        <div class="cont-bio">
          <h3 class="title-three">BIO</h3>
          <ul class="skills-list">
            <li>
              <p class="skills-list-text">
                I'm Lloyd Jefferson, a talented programmer specializing in
                software development. My expertise spans various programming
                languages and technologies, and I am dedicated to continually
                enhancing my skills. I thrive on seeking unconventional and
                creative solutions to problems, leveraging a high level of
                analytical skills to effectively tackle even the most
                challenging tasks.
              </p>
            </li>
            <li>
              <p class="skills-list-text">
                Adaptable to both independent and team-oriented work, I
                collaborate seamlessly with colleagues, exchanging ideas and
                finding optimal solutions. My professional maturity enables me
                to navigate challenges and stressful situations with a calm
                demeanor, maintaining a consistently high quality of work.
                Committed to self-improvement, I actively engage in studying
                new technologies and practices to stay current with the latest
                innovations in the field.
              </p>
            </li>
          </ul>
          <div class="background-image"></div>
        </div>
      </div>

      <ul class="cont-education-role">
        <li class="cont-education">
          <h3 class="title-three">EDUCATION</h3>
          <ul>
            <li class="li-item">
              <svg class="icon-about" width="24" height="24">
                <use href="../img/about-me/symbol-defs.svg#icon-greenSmall"></use>
              </svg>
              <p class="education-role-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School,
                New York
              </p>
            </li>
            <li class="li-item">
              <svg class="icon-about" width="24" height="24">
                <use href="../img/about-me/symbol-defs.svg#icon-greenSmall"></use>
              </svg>
              <p class="education-role-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
            </li>
            <li class="li-item">
              <svg class="icon-about" width="24" height="24">
                <use href="../img/about-me/symbol-defs.svg#icon-greenSmall"></use>
              </svg>
              <p class="education-role-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </li>
          </ul>
        </li>
        <li class="cont-role">
          <h3 class="title-three">ROLE</h3>
          <ul>
            <li class="li-item">
              <svg class="icon-about-second last-three" width="4" height="4">
                <use href="./img/about-me/about-me-svg.svg#icon-Rectangle-2062"></use>
              </svg>
              <p class="education-role-text">Frontend development</p>
            </li>
            <li class="li-item">
              <svg class="icon-about-second last-three" width="4" height="4">
                <use href="./img/about-me/about-me-svg.svg#icon-Rectangle-2062"></use>
              </svg>
              <p class="education-role-text">HeadlessCMS, Wordpress</p>
            </li>
            <li class="li-item">
              <svg class="icon-about-second last-three" width="4" height="4">
                <use href="./img/about-me/about-me-svg.svg#icon-Rectangle-2062"></use>
              </svg>
              <p class="education-role-text">Blender (enjoy)</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</body>

</html>