<section class="benefits">
  <div class="container">
    <h2 class="benefits-head">
      <span class="benefits-head-green">BENEFITS</span> OF WORKING WITH ME
    </h2>
    <ul class="benefits-menu">
      <li class="benefits-list">
        <div class="benefits-wrapper">
          <svg class="benefits-wrapper-svg" width="24" height="24">
            <use href="./img/benefits/benefits.svg#icon-user-01"></use>
          </svg>
        </div>
        <h3 class="benefits-head-text">Expertise</h3>
        <p class="benefits-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefits-list">
        <div class="benefits-wrapper">
          <svg class="benefits-wrapper-svg" width="24" height="24">
            <use
              href="./img/benefits/benefits.svg#icon-message-chat-circle"
            ></use>
          </svg>
        </div>
        <h3 class="benefits-head-text">Communication</h3>
        <p class="benefits-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefits-list">
        <div class="benefits-wrapper">
          <svg class="benefits-wrapper-svg" width="24" height="24">
            <use href="./img/benefits/benefits.svg#icon-brush-01"></use>
          </svg>
        </div>
        <h3 class="benefits-head-text">Art</h3>
        <p class="benefits-text">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefits-list">
        <div class="benefits-wrapper">
          <svg class="benefits-wrapper-svg" width="24" height="24">
            <use href="./img/benefits/benefits.svg#icon-hourglass-02"></use>
          </svg>
        </div>
        <h3 class="benefits-head-text">Urgent execution</h3>
        <p class="benefits-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
