<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/faq.css">
    <script src="../js/faq.js" defer type="module"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <section class="faq-section">
        <div class="container">
            <div class="wrapper">
                <h2 class="title-2">frequently asked <span class="title-decor">question</span></h1>
                <ul class="accordion-container">
                    <li class="ac" id="first-element">
                      <h2 class="ac-header">
                        <button type="button" class="ac-trigger">
                            What programming languages ​​are most often used in your project?</button>
                      </h2>
                      <div class="ac-panel text-content">
                        <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                      </div>
                    </li>
                    <span class="line"></span>
                    <li class="ac">
                      <h2 class="ac-header">
                        <button type="button" class="ac-trigger">What are the deadlines for the project?</button>
                      </h2>
                      <div class="ac-panel">
                        <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                      </div>
                    </li>
                    <li class="ac">
                      <h2 class="ac-header">
                        <button type="button" class="ac-trigger">What payment methods do you accept?</button>
                      </h2>
                      <div class="ac-panel">
                        <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                      </div>
                    </li>
                    <li class="ac">
                        <h2 class="ac-header">
                          <button type="button" class="ac-trigger">How can I contact you?</button>
                        </h2>
                        <div class="ac-panel">
                          <p class="ac-text">In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
                        </div>
                    </li>
                    <li class="ac">
                        <h2 class="ac-header">
                          <button type="button" class="ac-trigger">Do you provide advice or support?</button>
                        </h2>
                        <div class="ac-panel">
                          <p class="ac-text">The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
                        </div>
                    </li>
                    <li class="ac">
                        <h2 class="ac-header">
                          <button type="button" class="ac-trigger">What does the process of developing a software product look like from idea to implementation?</button>
                        </h2>
                        <div class="ac-panel">
                          <p class="ac-text">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
                        </div>
                    </li>
                </ul>
                <img src="../img/decor bg 4.png" alt="" class="faq-decor">   
            </div>
        </div>
    </section>
</body>

</html>