<!-- додайте dark переход на темну тему -->
<section>
  <div class="footer container">
    <div class="footer-inner">
      <p class="footer-logo">
        Lloyd<span class="footer-logo-span">Jefferson.</span>
      </p>

      <ul class="foter-social-list">
        <li class="foter-social-item">
          <a
            href="https://www.instagram.com/goitclub/ "
            class="foter-social-item-link"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="foter-social-item">
          <a
            href="https://www.facebook.com/goITclub/ "
            target="_blank"
            class="foter-social-item-link"
            >Facebook</a
          >
        </li>
        <li class="foter-social-item">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            class="foter-social-item-link"
            >Linkedin</a
          >
        </li>
        <li class="foter-social-item">
          <a
            href="https://github.com/BigBlackJoke/Portfolio-Group-13"
            target="_blank"
            class="foter-social-item-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <p class="footer-copiright">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</section>
