<div class="header">
  <div class="header-container">
    <div class="header-logo">
      <a class="logo" href="index.html"
        >Lloyd<span class="color-primary">Jefferson.</span></a
      >
    </div>

    <div class="header-burger">
      <button class="burger" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="header-nav">
      <div class="night-mode night-mode-tablet-pc">
        <input type="checkbox" class="night-mode-checkbox" />
      </div>
      <nav class="nav-menu">
        <ul class="nav-menu-list">
          <li class="nav-menu-item"><a href="#about">About me</a></li>
          <li class="nav-menu-item"><a href="#projects">Projects</a></li>
          <li class="nav-menu-item"><a href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
