<div class="header">
<div class="container">
    
    <div class="header-logo"><a class="logo" href="index.html">Lloyd<span>Jefferson.</span></a></div>
    <div class="header-burger"><button class="berger" type="button">
        <svg class="mob-header-btn" width="22" height="16">
    
        </svg>
    </button></div>

     
    <div class="header-nav">
    <nav class="nav-menu">
       <ul class="nav-menu-list">
        <li class="nav-menu-item"><a href="">About me</a></li>
        <li class="nav-menu-item"><a href="">Projects</a></li>
        <li class="nav-menu-item"><a href="">Contacts</a></li>
       </ul>
    </nav>
    </div>
</div>  
</div>