<section class="hero-section">

    <div class="container">

        <h1 class="hero-title">Hello, I am <span>Fullstack developer</span></h1>

        <div class="content-container">

            <div class="order-container">

                <a href="#work-together" class="link-to-order">Order the project</a>
                <div class="decorative"> </div>

            </div>

            <p class="hero-article">
                I work with people all over the world to create <span>impressive</span> and <span>functional websites</span> that reflect each client's uniquepersonality.
            </p>

        </div>

    </div>

    <div class="social-links">

        <ul class="social-links-list">

            <li class="social-links-item">
                <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="social-links-item">
                <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li class="social-links-item">
                <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a>
            </li>
            <li class="social-links-item">
                <a href="https://github.com/BigBlackJoke/Portfolio-Group-13" target="_blank">GitHub</a>
            </li>

        </ul>

    </div>

</section>