<section class="hero-section">

    <div class="container">

        <svg class="background-decorative background-1" width="170" height="131">
            <use href="../img/hero/hero-icons.svg#icon-decorative-1"></use>
        </svg>

        <svg class="background-decorative background-2" width="356" height="276">
            <use href="../img/hero/hero-icons.svg#icon-decorative-2"></use>
        </svg>

        <div class="main-content">
            <h1 class="hero-title">Hello, I am <span>Fullstack developer</span></h1>
            <div class="hero-img"></div>
        </div>

        <div class="content-container">

            <div class="order-container">

                <svg class="order-icon" width="28">
                    <use href="../img/hero/hero-icons.svg#icon-arrow-iconsvg"></use>
                </svg>
                <a href="#work-together" class="link-to-order">Order the project</a>
                <div class="decorative"> </div>

            </div>

            <p class="hero-article">
                I work with people all over the world to create <span>impressive</span> and <span>functional websites</span> that reflect each client's unique personality.
            </p>

        </div>

    </div>

    <div class="social-links">

        <ul class="social-links-list">

            <li class="social-links-item">
                <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li class="social-links-item">
                <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li class="social-links-item">
                <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">Linkedin</a>
            </li>
            <li class="social-links-item">
                <a href="https://github.com/BigBlackJoke/Portfolio-Group-13" target="_blank">GitHub</a>
            </li>

        </ul>

    </div>

</section>