<section class="projects-section">
  <div class="container">
    <h2 class="projects-title">My <span>projects</span></h2>
    <ul class="image-list">
      <li class="image-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/My-project/wallet.jpg    1x,
              ./img/My-project/wallet-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/My-project/wallet-tab.jpg    1x,
              ./img/My-project/wallet-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/My-project/wallet-mob.jpg    1x,
              ./img/My-project/wallet-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/My-project/wallet.jpg"
            alt="Wallet webservice"
            width="1008"
            height="578"
            class="img"
          />
        </picture>

        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="link-wrapper">
          <p class="img-naming">Wallet webservice</p>
          <a class="visit-link" href="">
            Visit
            <svg class="visit-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#visit-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="image-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/My-project/harvest.jpg    1x,
              ./img/My-project/harvest-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/My-project/harvest-tab.jpg    1x,
              ./img/My-project/harvest-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/My-project/harvest-mob.jpg    1x,
              ./img/My-project/harvest-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/My-project/harvest.jpg"
            alt="Green Harvest Webservice"
            width="1008"
            height="578"
            class="img"
          />
        </picture>

        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="link-wrapper">
          <p class="img-naming">Green harvest webservice</p>
          <a class="visit-link" href="">
            Visit
            <svg class="visit-icon" width="24" height="24">
              <use href="../img/symbol-defs.svg#visit-icon"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="image-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/My-project/English.jpg    1x,
              ./img/My-project/English-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/My-project/English-tab.jpg    1x,
              ./img/My-project/English-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/My-project/English-mob.jpg    1x,
              ./img/My-project/English-mob-2x.jpg 2x
            "
          />
          <img
            src="./img/My-project/English.jpg"
            alt="English Exellence Website"
            width="1008"
            height="578"
            class="img"
          />
        </picture>

        <p class="technologies">React, JavaScript, Node JS, Git</p>
        <div class="link-wrapper">
          <p class="img-naming">English Exellence website</p>
          <a class="visit-link" href="">
            Visit
            <svg class="visit-icon" width="24" height="24">
              <use href="./img/symbol-defs.svg#visit-icon"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-more-btn" type="button">Load more</button>
  </div>
</section>
