<section>
  <div class="container">
    <h2 class="review-title title-dark">Reviews</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper"></ul>
      <!-- <div class="swiper-pagination"></div> -->
      <div class="btn-container">
        <button class="button-prev">
          <svg class="icon-prev" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="button-next">
          <svg class="icon-next" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
