<section>
    <h2>Reviews</h2>
    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <ul class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </ul>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
</section>
<script type="module" src="../js/reviews/reviews.js"></script>
<!-- <script type="module" src="../js/reviews/reviews-api.js"></script> -->