<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech skills</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <h1 class="hidden">Tech Skills</h1>
    <!-- tech-skills-container-dark переход на темну тему -->
    <div class="tech-skills-container">
        <ul class="tech-skills-list">
            <li class="tech-skills-item">HTML/CSS</li>
            <li class="tech-skills-item">JavaScript</li>
            <li class="tech-skills-item">React</li>
            <li class="tech-skills-item">Node.js</li>
            <li class="tech-skills-item">React Native</li>
            <li class="tech-skills-item">Typescript</li>
            <li class="tech-skills-item">HTML/CSS</li>
            <li class="tech-skills-item">JavaScript</li>
            <li class="tech-skills-item">React</li>
            <li class="tech-skills-item">Node.js</li>
            <li class="tech-skills-item">React Native</li>
        </ul>
    </div>
    <!-- second-dark переход на темну тему -->
<div class="tech-skills-container second">
    <ul class="tech-skills-list">
        <li class="tech-skills-item">HTML/CSS</li>
        <li class="tech-skills-item">JavaScript</li>
        <li class="tech-skills-item">React</li>
        <li class="tech-skills-item">Node.js</li>
        <li class="tech-skills-item">React Native</li>
        <li class="tech-skills-item">Typescript</li>
        <li class="tech-skills-item">HTML/CSS</li>
        <li class="tech-skills-item">JavaScript</li>
        <li class="tech-skills-item">React</li>
        <li class="tech-skills-item">Node.js</li>
        <li class="tech-skills-item">React Native</li>
        <li class="tech-skills-item">Typescript</li>
    </ul>
</div>

</body>
</html>