<h2 class="hidden">Tech Skills</h2>
    <!-- first-dark переход на темну тему -->
    <div class="container first">
        <ul class="tech-skills-list">
            <li class="tech-skills-item">HTML/CSS</li>
            <li class="tech-skills-item">JavaScript</li>
            <li class="tech-skills-item">React</li>
            <li class="tech-skills-item">Node.js</li>
            <li class="tech-skills-item">React Native</li>
            <li class="tech-skills-item">Typescript</li>
            <li class="tech-skills-item">HTML/CSS</li>
            <li class="tech-skills-item">JavaScript</li>
            <li class="tech-skills-item">React</li>
            <li class="tech-skills-item">Node.js</li>
            <li class="tech-skills-item">React Native</li>
            <li class="tech-skills-item">Typescript</li>
        </ul>
    </div>
    <!-- second-dark переход на темну тему -->
<div class="container second">
    <ul class="tech-skills-list">
        <li class="tech-skills-item">Node.js</li>
        <li class="tech-skills-item">React Native</li>
        <li class="tech-skills-item">Typescript</li>
        <li class="tech-skills-item">HTML/CSS</li>
        <li class="tech-skills-item">JavaScript</li>
        <li class="tech-skills-item">React</li>
        <li class="tech-skills-item">Node.js</li>
        <li class="tech-skills-item">React Native</li>
        <li class="tech-skills-item">Typescript</li>
        <li class="tech-skills-item">HTML/CSS</li>
        <li class="tech-skills-item">JavaScript</li>
        <li class="tech-skills-item">React</li>
</div>
