<section class="work-together" id="work-together">
    <div class="container">
       <div class="work-together__wrapper">
            <h2 class="title work-together__title">Let’s <span>work together</span></h2>
            <p class="work-together__text">Contact me to transform your ideas into exceptional solutions.</p>
            <address class="work-together__address">
                <div class="work-together__icon-wrapper">
                    <svg class="work-together__icon" width="24" height="24">
                        <use href="../img/symbol-defs.svg#icon-phone"></use>
                    </svg>
                    <a class="work-together__phone" rel="noopener noreferrer nofollow" target="_blank"
                        href="tel:380904567890">+38 090 456 78 90</a>
                </div>
                <div class="work-together__icon-wrapper">
                    <svg class="work-together__icon" width="24" height="24">
                        <use href="../img/symbol-defs.svg#icon-mail"></use>
                    </svg>
                    <a class="work-together__mail" rel="noopener noreferrer nofollow" target="_blank"
                        href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                </div>
    
                <div class="work-together__icon-wrapper">
                    <svg class="work-together__icon" width="24" height="24">
                        <use href="../img/symbol-defs.svg#icon-location"></use>
                    </svg>
                    <a class="work-together__location" rel="noopener noreferrer nofollow" target="_blank"
                        href="https://maps.app.goo.gl/gAvaLVpsGWE2xVkAA">USA, New York</a>
                </div>
    
            </address>
       </div>
        <form action="javascript:void(0)" class="work-together__form">
            <input class="work-together__email" required type="email" name="email" id="email" placeholder="Your email*"
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" />
            <textarea class="work-together__message" name="message" id="textarea" cols="30" rows="4"
                placeholder="Message"></textarea>
            <button class="work-together__button" type="submit" aria-label="Send">Send message</button>
        </form>
    </div>
    <div class="work-together__backdrop">
        <div class="work-together__modal modal">
            <svg class="modal__close" width="24" height="24">
                <use href="../img/symbol-defs.svg#icon-close"></use>
            </svg>
            <p class="modal__title">
                Thank you for your interest in cooperation!
            </p>
            <p class="modal__text">
                The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.
            </p>
        </div>
    </div>
</section>