.benefits-head {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  /*text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
  margin-bottom: 40px;
  min-width: 280px;
}

.benefits-head-green {
  color: #00b068;
}

.benefits-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  background: rgba(0, 176, 104, 0.1);
  margin-bottom: 16px;
}

.benefits-head-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  min-width: 280px;
  margin-bottom: 16px;
}

.benefits-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  min-width: 280px;
}

/**-------------------768--------------------*/
@media screen and (min-width: 768px) {

  .benefits-head {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    max-width: 690px;
  }

  .benefits-menu {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -58px;
  }

  .benefits-list {
    max-width: 336px;
  }

  .benefits-list:first-child {
    margin-left: 368px;
  }

  .benefits-head-text {
    font-size: 20px;
    line-height: 1.6;
  }
}

/**-------------------1280--------------------*/

@media screen and (min-width: 1280px) {
  .benefits {
    background-image: url(/img/background.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 526px 408px;
  }

  .benefits-head {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  .benefits-menu {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -58px;
  }

  .benefits-list {
    max-width: 384px;
  }

  .benefits-list:first-child {
    margin-left: 832px;
  }

  .benefits-head-text {
    font-size: 20px;
    line-height: 1.6;
  }
}
