*{
    box-sizing: border-box;
}

.title-2{
    font-family: Impact;
    font-size: 52px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.1125em;
    text-align: left;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 40px;
}

.title-decor{
    color:rgba(0, 176, 104, 1);
}

.dark-mode .title-2, .dark-mode .ac .ac-trigger, .dark-mode .ac .ac-panel .ac-text {
    color: #fff;
}

.dark-mode .ac {
    background-color: #2A2D32;
}

.ac{
    
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 1);;
}
.ac-header .ac-trigger{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
}

.ac .ac-panel .ac-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.ac{
    padding: 28px 24px;
}

.ac-trigger:focus {
    outline: none;
}
.faq-decor{
    display: none;
}

@media screen and (min-width:768px) {
    .title-2{
    font-size: 108px;
    font-weight: 400;
    line-height: 124px;
    margin-bottom: 60px;
    }
}

@media screen and (min-width:1280px) {
    .wrapper{
        display: flex;
    }
    .accordion-container{
        margin-top: 276px;
    }

    .faq-decor{
        display: inline;
        position: absolute;
        transform: translate(0, 170%);
    }
}