.container {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 375px;
}

.hero-title {
    font-family: Impact, sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;

    padding-top: 96px;
}

.hero-title span {
    color: #00B068;
}

.order-container {
    margin-top: 40px;
    padding: 32px 0;
    padding-left: 44px; /* прибрати потім */

    display: flex;
    position: relative;

    align-items: center;
}

.link-to-order {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    width: 185px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.decorative {
    background: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
    width: 165px;
    height: 92px;
    left: 155px;
    position: absolute;
}

.hero-article {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 56px;

    max-width: 320px;
    height: auto;

    margin-top: 40px;
}

.hero-article span {
    color: #00B068;
}

.social-links {
    background-color: #E4E5E6;
    margin-top: 12px;
    min-width: 375px;
    margin: 0 auto;
}

.social-links-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    padding: 32px 0;
}

.social-links-list a {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.03em;
    color: #000000;
}


@media screen and (min-width: 768px) {

    .container {
        padding: 0 32px;
        max-width: 768px;
    }

    .hero-title {
        font-size: 136px;
        line-height: 1.15;
        letter-spacing: 0.01em;

        padding-top: 88px;
    }

    .order-container {
        margin-top: 60px;
        max-width: 416px;
    }

    .link-to-order {
        font-size: 20px;
        line-height: 1.60;
        width: 100%;
    }

    .decorative {
        width: 261px;
        height: 96px;
        left: 155px;
    }

    .hero-article {
        font-size: 20px;
        line-height: 1.60;
        max-width: 704px;
        padding-bottom: 64px;
    }

    .social-links {
        margin-top: 16px;
        max-width: 100%;
    }

    .social-links-list {
        flex-direction: row;
        gap: 40px;
        justify-content: center;

        padding: 40px 0;
    }

}

@media screen and (min-width: 1280px) {
    
    .container {
        min-width: 1280px;
    }

    .hero-title {
        font-size: 124px;
        line-height: 1.19;
        padding-top: 72px;
        width: 552px;
    }

    .content-container {
        display: flex;
        gap: 303px;
        align-items: center;
        margin-top: 80px;
        padding-bottom: 80px;
    }

    .order-container {
        margin-top: 0;
    }

    .decorative {
        width: 261px;
        height: 96px;
        left: 155px;
    }

    .hero-article {
        font-size: 20px;
        line-height: 1.60;
        min-width: 592px;
        width: 100%;
        margin-top: 0;
        padding-bottom: 0;
    }

}