.hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.main-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
    max-width: 100%;
}

.tech-skills-section {
    display: flex;
    justify-content: center;
}

.first{
    display: flex;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #BCDFD1;
}

.second{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #E4E5E6;
    transform: rotate(2deg);
    z-index: -1;
    color: #00B068;
}

.second .tech-skills-item::before{
    transform: translateY(+50%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M18.809 10.866l-4.92-0.172c-1.359-0.047-2.498 1.015-2.546 2.374l-0.172 4.92c-0.047 1.359 1.015 2.498 2.374 2.546l4.92 0.172c1.359 0.047 2.498-1.015 2.546-2.374l0.172-4.92c0.047-1.359-1.015-2.498-2.374-2.546z" fill="black"/></svg>');
}
.tech-skills-list {
    display: flex;
    animation: marquee 20s linear infinite;
    padding: 40px 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
}
.tech-skills-item {
    display: flex;
    margin-right: 50px;
    font-weight: 500;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
.tech-skills-item::before{
    content: '';
        display: flex;
        margin: 0 16px;
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="%2300b068" d="M18.667 10.667h-5.333c-1.473 0-2.667 1.194-2.667 2.667v5.333c0 1.473 1.194 2.667 2.667 2.667h5.333c1.473 0 2.667-1.194 2.667-2.667v-5.333c0-1.473-1.194-2.667-2.667-2.667z"/></svg>') no-repeat center center;
        transform: translateY(+50%);
}
.dark-mode .first{
        background-color: #214136;
        color: #F0F0F0;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        z-index: +1;
    
}
.dark-mode .second{
    overflow: hidden;
        white-space: nowrap;
        background-color: #2A2D32;
        color: #14C57C;
        transform: rotate(2deg);
        position: relative;
        z-index: 0;
}
.dark-mode .second .tech-skills-item::before {
    transform: translateY(+50%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="%23f0f0f0" style="fill: var(--color1, %23f0f0f0)" d="M18.809 10.866l-4.92-0.172c-1.359-0.047-2.498 1.015-2.546 2.374l-0.172 4.92c-0.047 1.359 1.015 2.498 2.374 2.546l4.92 0.172c1.359 0.047 2.498-1.015 2.546-2.374l0.172-4.92c0.047-1.359-1.015-2.498-2.374-2.546z"/></svg>');
}
@media screen and (min-width: 768px) {
    .main-wrapper {
            padding-top: 124px;
            padding-bottom: 124px;
        }
}

@media screen and (min-width: 1280px) {
    .main-wrapper {
            padding-top: 164px;
            padding-bottom: 164px;
        }
}