.work-together__title {
  margin-bottom: 40px;
  font-size: 52px;
  line-height: 123%;
}
.work-together__title span {
  color: var(--accent-green);
}
.work-together__text {
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.work-together__address {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 16px;
  margin-bottom: 40px;
}
.work-together__icon-wrapper {
  display: flex;
  column-gap: 16px;
}
.work-together__icon {
  stroke: var(--accent-green);
  fill: transparent;
}
.work-together__phone,
.work-together__mail,
.work-together__location {
  font-weight: 300;
  font-style: normal;

  transition: color var(--transition);
}
.work-together__phone:hover,
.work-together__mail:hover,
.work-together__location:hover {
  color: var(--accent-green);
}
.work-together__phone::before,
.work-together__mail::before,
.work-together__location::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 22px;
}
.work-together__form {
  width: 100%;
}
.work-together__input-wrapper {
  position: relative;
}
.work-together__email,
.work-together__message {
  width: 100%;
  padding: 16px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--light-grey);
  margin-bottom: 32px;
  color: var(--black);
}
.work-together__email {
  position: relative;
}
.work-together__message {
  min-height: 128px;
  resize: none;
}
.work-together__email::placeholder,
.work-together__message::placeholder {
  font-family: inherit;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(41, 41, 41, 0.4);
}
.work-together__email:not(:placeholder-shown):invalid {
  color: #e74a3b;
}

.work-together__text-invalid {
  opacity: 0;
  position: absolute;
  bottom: 12px;
  
  font-weight: 300;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #e74a3b;

  transition: opacity var(--transition);
}
.work-together__email:not(:placeholder-shown):invalid~.work-together__text-invalid {
  opacity: 1;
}
.work-together__icon-success {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  background-color: var(--light-grey);
  opacity: 0;

  transition: opacity var(--transition);
}
.work-together__email:not(:placeholder-shown):valid~.work-together__icon-success {
  opacity: 1;
}
.work-together__button {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: var(--accent-green);
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);

  transition: background var(--transition);
}
.work-together__button:hover {
  background-color: #009156;
}

/* Modal window */

.work-together__backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 100;
  background: rgba(41, 41, 41, 0.8);
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none;

  transition: opacity var(--transition),
              width var(--transition);
}
.work-together__backdrop.active {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
  transition: opacity var(--transition),
              transform var(--transition);
  pointer-events: all;
}
.work-together__modal {
  max-width: 320px;
}
.modal {
  position: relative;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 16px;
  padding: 48px 32px;
  opacity: 1;
  background: var(--white);
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  stroke: var(--black);
}
.modal__title {
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-green);
  margin-bottom: 16px;
}
.modal__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Dark mode */

.dark-mode .work-together {
  background-color: #1e2023;
}
.dark-mode .work-together__title,
.dark-mode .work-together__text,
.dark-mode .work-together__address
{
  color: var(--white);
}
.dark-mode .work-together__email,
.dark-mode .work-together__email:-webkit-autofill,
.dark-mode .work-together__message {
  background-color: #2a2d32 !important;
}
.dark-mode .work-together__email::placeholder,
.dark-mode .work-together__message::placeholder {
  color: rgba(240, 240, 240, 0.6);
}
.dark-mode .work-together__email,
.dark-mode .work-together__message {
  color: var(--white);
}
.dark-mode .work-together__button {
  background-color: #14c57c;
  color: #1e2023;
}

.dark-mode .work-together__icon-success {
  background-color: #2a2d32;
}
.dark-mode .work-together__backdrop {
  background-color: rgba(30, 32, 35, 0.8);
}
.dark-mode .work-together__modal {
  background-color: #2a2d32;
  border: none;
}
.dark-mode .modal__title {
  color: #14c57c;
}
.dark-mode .modal__text {
  color: var(--white);
}
.dark-mode .modal__close {
  stroke: var(--white);
}

@media screen and (min-width:360px) {
  
}

@media screen and (min-width:768px) {
  .work-together {
    background-image: url('../img/decor-1.png');
    background-repeat: no-repeat;
    background-position: top 20px left 75%;
  }
  .work-together__title {
    margin-bottom: 60px;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }
  .work-together__text {
    font-size: 20px;
    line-height: 160%;
  }
  .work-together__address {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-bottom: 60px;
  }
  .work-together__button {
    width: unset;
  }
  .work-together__modal {
    max-width: 492px;
  }
  .modal {
    padding: 64px 64px;
  }
  .modal__close {
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width:1280px) {
  .work-together .container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 117px;
  }
  .work-together__wrapper {
    max-width: 610px;
  }
  .work-together__title {
    margin-bottom: 80px;
  }
  .work-together__text {
    margin-bottom: 120px;
  }
  .work-together__address {
    flex-direction: column;
    margin-bottom: 0;
  }
  .work-together__form {
    width: 592px;
  }
  .work-together__email {
    width: 100%;
  }
}